* {
	box-sizing: border-box;
}

html {
    font-size: 16px;
	line-height: 1.5;
}

body {
    background-color: #232323;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	transition: background 0.6s; /* animate of background*/
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#stripe {
	background: white;
	padding: 1rem;
	color: #484848;
}

#navbar {
	display: -webkit-flex;
    display: flex;  /* box level flex container of child*/
	flex-direction: row;
}

#brand {
	font-weight: bold;
	padding: 0 1rem;
}
#easy{
	/*margin-left: 1rem;*/
	color: black;
	font-weight: bold;
	border-radius: 999rem;
	margin:0;
	padding:0 1rem;
	height:24px;
}
#hard{
	/*margin-left: 1rem;*/
	color: black;
	border-radius: 999rem;
	font-weight: bold;
	margin: 0;
	padding: 0 1rem;
	height:24px;
}
#nightmare{
	/*margin-left: 1rem;*/
	color: black;
	border-radius: 999rem;
	font-weight: bold;
	margin: 0;
	padding: 0 1rem;
	height:24px;
}
#hard:hover{
	color: steelblue;
	background-color: white;
}
#easy:hover{
	color: steelblue;
	background-color: white;
}
#nightmare:hover{
	color: steelblue;
	background-color: white;
}
#about {
	margin-left: auto;
	color: #bbb;
}

.container {
    margin-left: auto;
	margin-right: auto;
    max-width: 520px;
}

#card-container::after {
	content: "";
	display: block;
	clear: both; /* nothing element allowed appear in the left and write*/
}  /* last part*/

#color-picked {
    font-weight: bold;
	font-size: 120%;
}

@media (min-width: 576px) {
	#color-picked {
	    font-size: 200%;
	} /* Larger than 576px*/
}

h1 {
    text-align: center;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
	margin: 0;
    padding: 20px 0;
}

.card {
    width: 30%;
    background: white;
    padding-bottom: 30%;
    float: left;  /* make it to the left*/
    margin: 1.66%;
	border-radius: 1rem;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
	cursor: pointer;  /* change the mouse*/
}

.selected {
    color: white;
    background: steelblue;
}

button {
	display: block;
	margin: 3rem auto;
	padding: 1rem;
	outline: none;
	border: none;
    border-radius: 999rem;   /* shape*/
    background-color: white;
	font-size: 1rem;
    font-weight: 700;
    color: #484848;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
	cursor: pointer;
}

button:hover {      /* action*/
    color: white;
    background-color: steelblue;
}
